/* CSS file */
global {themeColor: #FFFFFF;}

Panel {
   borderColor: #bbbbbb;
   borderAlpha: 1;
   borderThicknessLeft: 1;
   borderThicknessTop: 0;
   borderThicknessBottom: 0;
   borderThicknessRight: 1;
   roundedBottomCorners: true;
   cornerRadius: 9;
   headerHeight: 22;
   backgroundAlpha: 0.7;
   highlightAlphas: 0.56, 0.19;
   backgroundColor: #dddddd;
   dropShadowEnabled: true;
   shadowDistance: 1;
   dropShadowColor: #666666;
   titleStyleName: "mypanelTitle";
}
	
	.mypanelTitle {
	   letterSpacing: 0.5;
	   color: #333333;
	   fontFamily: Arial;
	   fontSize: 11;
	   fontWeight: bold;
	}

	Label {
		color: #333333;
		fontFamily: Arial;
	   	fontSize: 11;
	}
	
	TextInput {
		fontFamily: Arial;
	   color: #222222;
	   fontSize: 13;
	   fontWeight: normal;
	   paddingLeft: 1;
	   paddingRight: 1;
	   leading: 1;
	   textIndent: 0;
	   letterSpacing: 0.5;
	   backgroundAlpha: 0.7;
	   borderStyle: solid;
	   cornerRadius: 4;
	   dropShadowEnabled: false;
	}
	
	TextArea {
	   fontFamily: Arial;
	   color: #222222;
	   fontSize: 13;
	   fontWeight: normal;
	   paddingLeft: 1;
	   paddingRight: 1;
	   leading: 1;
	   textIndent: 0;
	   letterSpacing: 0.5;
	   backgroundAlpha: 0.7;
	   borderStyle: solid;
	   cornerRadius: 4;
	   dropShadowEnabled: false;
	}